:root{
    --primary-background-color: #2980b9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    color: #2980b9;
}

html{
    font-size: 90% ;
}

.container{
    width: 100%;
    min-height: 100vh;
}

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color:  #2980b9;
    letter-spacing: 1px;
    width: 100%;
    height: 100vh;
}

.information{
    padding-top: 21.6px;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-areas: 
    'slide-1 as'
    ;
}

.banner-1{
    grid-area: slide-1;
    display: block;
    background-image: url(/Img/slide-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative; /* Add this line */
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow:  15px 32px 64px rgba(0, 0, 0, 0.8);
}



.banner-2{
    grid-area: slide-1;
    display: block;
    background-image: url(/Img/slide-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative; /* Add this line */
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow:  15px 32px 64px rgba(0, 0, 0, 0.8);
}

.banner-3{
    grid-area: slide-1;
    display: block;
    background-image: url(/Img/slide-3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative; /* Add this line */
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow:  15px 32px 64px rgba(0, 0, 0, 0.8);
}

.banner-4{
    grid-area: slide-1;
    display: block;
    background-image: url(/Img/slide-4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative; /* Add this line */
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow:  15px 32px 64px rgba(0, 0, 0, 0.8);
}

.banner-1{
    animation: slide1 12s linear infinite;
}

.banner-2{
    animation: slide2 12s linear infinite;
}

.banner-3{
    animation: slide3 12s linear infinite;
}

.banner-4{
    animation: slide4 12s linear infinite;
}
@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}




aside{
    grid-area: as;
    text-align: center center;
    align-items: center center;
    margin-top: 25%;
    margin-bottom: 20%;
    text-shadow:  6px 6px 9px  rgb(0, 0, 0);
}

aside p{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
}

aside h1{
    text-align: center;
    font-size:70px;
    color: #fff;
}

aside button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px;
    border: 0;
    outline: none;
    background: linear-gradient(to right, rgb(243, 204, 104), rgb(233, 170, 10));
    border-radius: 20px;
    margin-top: 10%;
    transition: width 0.5s;
    font-size: 15px;
    margin-left: 33.2%;
    box-shadow: 6px 6px 9px  rgb(0, 0, 0);
}

aside button:hover{
    cursor: pointer;
    background-color: goldenrod;
    color: rgb(0, 0, 0);
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}

aside button img{
    width: 40px;
    display: none;
}

aside button:hover img{
    display: block;
}

.aside span{
    background-color: goldenrod;
    height: 5px;
    width: 250px;
    position: absolute;
    margin-left: 14%;
    border-radius: 10px;
}
.header-wrapper{
    z-index: 1;
    background-color:  #fffffff0;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 9999;
    display: grid;
    grid-template-columns: 30% 70% ;
    grid-template-areas: 
    'logo menu'
    ;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-left: 300px;
}

nav ul li{
    display: flex;
    text-decoration: none;
    color: #2980b9;
    font-size: 15px; 
}

nav ul li a:hover{
    color: goldenrod;
    border-bottom: rgb(255, 255, 255) 1px solid;
}

nav a button{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    padding: 9px 25px;
    background-color: #2980b9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

nav a button:hover{
    background-color: goldenrod;
}

.logo{
    font-size: 20px;
    color: white;
    padding-left: 1rem;
    align-items: center;
    text-align: left;
    padding-block: 1.5rem;
}

.logo img{
    border-radius: 200px;
    width: 100px;
    position: absolute;
    bottom: 10px;
    transform: translate(50%,0%);
}

/* här_börjar_andra_sidan */

.section{
    padding-top: 80px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    scroll-snap-align: start ;
}

#section1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 
    'mn as2'
    ;
}

#as2{
    grid-area: as2;
    background-color: #fff;
}
