*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

:root{
    --primary-background-color: #2980b9;
}

html{
    font-size: 90% ;
    overflow-x: hidden;
}


body{
    background-color:  #2980b9;
    letter-spacing: 1px;
}

.header-wrapper{
    height: 60px;
    display: grid;
    background-color: #fff;
    grid-template-columns: 60% 40% ;
    padding: 0 1rem;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: #2980b9;
    transition: 0.2s;
    font-size: 15px; 
}

nav a:hover{
    color: goldenrod;
}

nav a button{
    font-size: 16px;
    color: #edf0f1;
    padding: 9px 25px;
    background-color: #2980b9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

nav a button:hover{
    background-color: goldenrod;
}

.logo{
    padding-left: 1rem;
    align-items: center;
    padding-top: 20px;
}

.logo img{
    border-radius: 200px;
    width: 70px;
    transform: translate(0%,-20%);
}

.container{
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-areas: 
    'slide-1 as'
    ;
}

 .banner-1{
    grid-area: slide-1;
    display: block;
    background-image: url(/Img/slide-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative; 
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow:  15px 32px 64px rgba(0, 0, 0, 0.8);
}

.banner-2{
    grid-area: slide-1;
    display: block;
    background-image: url(/Img/slide-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative; 
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow:  15px 32px 64px rgba(0, 0, 0, 0.8);
}

.banner-3{
    grid-area: slide-1;
    display: block;
    background-image: url(/Img/slide-3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow:  15px 32px 64px rgba(0, 0, 0, 0.8);
}

.banner-4{
    grid-area: slide-1;
    display: block;
    background-image: url(/Img/slide-4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative; 
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow:  15px 32px 64px rgba(0, 0, 0, 0.8);
}

.banner-1{
    animation: slide1 12s linear infinite;
}

.banner-2{
    animation: slide2 12s linear infinite;
}

.banner-3{
    animation: slide3 12s linear infinite;
}

.banner-4{
    animation: slide4 12s linear infinite;
}
@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}




aside{
    grid-area: as;
    text-align: center center;
    align-items: center center;
    margin-top: 25%;
    margin-bottom: 20%;
    text-shadow:  6px 6px 9px  rgb(0, 0, 0);
}

aside p{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
}

aside h1{
    text-align: center;
    font-size:70px;
    color: #fff;
}

aside button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px;
    border: 0;
    outline: none;
    background: linear-gradient(to right, rgb(243, 204, 104), rgb(233, 170, 10));
    border-radius: 20px;
    margin-top: 10%;
    transition: width 0.5s;
    font-size: 15px;
    margin-left: 33.2%;
    box-shadow: 6px 6px 9px  rgb(0, 0, 0);
}

aside button:hover{
    cursor: pointer;
    background-color: goldenrod;
    color: rgb(0, 0, 0);
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}

aside button img{
    width: 40px;
    display: none;
}

aside button:hover img{
    display: block;
}

.aside span{
    background-color: goldenrod;
    height: 5px;
    width: 250px;
    position: absolute;
    margin-left: 14%;
    border-radius: 10px;
} 

/*Here starts the news page*/

.container2{
    width: 100%;
    height: calc(100vh - 50px);
    display: grid;
    grid-template-areas: 
    'section1'
    'section2'
    'section3'
    ;
}

.section1{
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-rows: 60% 40%;
    grid-template-areas:
    'row1'
    'row2'
    ;
}

.row1{
    display: grid;
    grid-template-columns: 59% 41%;
    grid-auto-rows: 100%;
    grid-template-areas: 
    'card1 column2'
    ;
}

.card{
    /* background-color: rgba(240, 234, 234, 0.42); */
    width: 450px;
    height:fit-content;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    color: #fff;
}



.card span{
    background-color: rgba(240, 234, 234, 0.42);
    height: 0.1px;
    width: 450px;
    position: absolute;
    transform: translate(10%,0%);
    border-radius: 10px;
    transform: translate(0, 110px);
}

.headline{
    height: 50px;
    transform: translate(0%, 50%);
    color: #fff;
    margin: 20px;
}

.headline2{
    transform: translate(-0.5%,-260%);
    width: ;
}

#headline2_span{
    width: 1115px;
    transform: translate(2%,0%);
}

.headline span{
    background-color: goldenrod;
    height: 2px;
    width: 400px;
    position: absolute;
    transform: translate(10%,0%);
    border-radius: 10px;
}

.headline button{
    background-color: goldenrod;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 1px;
    transition: width 0.5s;
    font-size: 15px;
}

.card_hero{
    flex: 0 0 50%;
    position: relative;
}

.card_img{
    display: block;
    width: 150px;
    border-radius: 4px;
    transform: translate(70%);
    box-shadow: -15px 6px 19px  #111c22;
}

.card1_img{
    display: block;
    width: 520px;
    border-radius: 5px;
    transform: translate(20%,0%);
    box-shadow: -15px 6px 19px  #111c22;
}

.card_layer{
    display: flex;
    flex-direction: row;
    width: 520.2px;
    height: 50%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(19, 18, 18, 0.8), rgba(0, 0, 0));
    transform: translate(20%, -100%);
    color: #fff;
    border-radius: 5px;
}

.card_layer h4{
    transform: translate(5%, 80%);
    cursor: pointer;
}

.card_layer h4:hover{
    color: goldenrod;
}

.card_content{
    flex: 1;
    padding: 10px 35px 20px 10px;
}

.card1 button{
    background-color: goldenrod;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 1px;
    transition: width 0.5s;
    font-size: 15px;
}

.card1 span{
    background-color: goldenrod;
    height: 2px;
    width: 600px;
    position: absolute;
    transform: translate(10%,0%);
    border-radius: 10px;
}

.row2{
    grid-area:row2;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 450px;
}

.row2_card{
    display: flex;
    flex-direction: column;
    height: 280px;
    align-items: flex-start;
    border-radius: 1px;
    color: #fff;
    width: 250px;
}

.row2_card h3{
    margin-bottom: 10px;
    box-sizing: border-box;
}

.row2_card img{
    width: 250px;
    height: 160px;
    border-radius: 0px;
    margin-bottom: 20px;
    box-shadow: -15px 6px 19px  #111c22;
}

/* här börjar section2 */

.section2{
    grid-area: section2;
    height: 180vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.headline3{
    transform: translate(-0.5%,460%);
}

#headline3_span{
    width: 1115px;
    transform: translate(2%,0%);
}

.wrapper{
    padding-top: 220px;
}

.section2_img{
    display: block;
    width: 200px;
    border-radius: 4px;
    transform: translate(0%, -30%);
    box-shadow: -15px 6px 19px  #111c22;
}

.section2_content{
    flex: 1;
    padding: 10px 10px 20px 10px;
}

.section2_card{
    width: 800px;
    height: 150px;
    display: flex;
    flex-direction: row;
    color: #fff;
}

.section3{
    background-color: #0d293cdb;
    height: 40vh;
    width: 100%;
    grid-area: section3;
    color: #2980b9;
    background-color: #fff;
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    grid-area:
    'ft1 ft2 ft3 ft4'
    ;
}

.ft{
    padding-block: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.company_data ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.list_items ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 0;
}

.list_items ul a:hover{
    color: goldenrod;
}


.list_items img{
    width: 25px;
    transform: translate(0%,30%);
    padding-top: 5px;
}

.ft_head ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}


.ft_info ul{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    list-style: none;
}

.TechTrek_info ul{
    row-gap: 20px;
}

.Jobb_info ul{
    row-gap: 10px;
}

.footer a{
    color: var(--primary-background-color);
}

/* Here begins the last page */

.container3{
    width: 100%;
    height: calc(100vh - 50px);
    display: grid;
    grid-template-areas: 
    'section4'
    'section5'
    'section6'
    'section3'
    ;
}

section{
    min-height: 20vh;
}

.section3 a{
    color: var(--primary-background-color);
}

.section4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box