/* universal selector */
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

/* Jag fixade färgtoner på alla sidans bilder så att de kunde passa till sidan men även till varandra */

img{
    filter: brightness(80%) sepia(18%) hue-rotate(15deg); 
}

/* Stamm saker, här valde jag att ha min main färg inom stammen */

:root{
    --primary-background-color: #2980b9;
}


/* Valde lite globala stilar */
html{
    font-size: 90% ;
    overflow-x: hidden;
}

/* Body som kan redigera bilder, texter och dylik */

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Header-wrapper för alla tre html sidor */

.header-wrapper{
    height: 60px;
    display: grid;
    background-color: #fff;
    grid-template-columns: 60% 40% ;
    padding: 0 1rem;
}

/* Spred runt nav länkarna */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Tog bort text decorations som tillåter en att redigera texten själv. */

nav a{
    text-decoration: none;
    color: #2980b9;
    font-size: 15px; 
}

/* Hover effekter till navigationen. Generellt: Hover är ett tillstånd 
när muspekarn är över ett element, i detta fall var det link som med det kan man
aktivera några stilar. Transition används som en animation, det väljer ett tid
där färgen övergår till goldenrod */

nav a:hover{
    color: goldenrod;
    transition: 0.5s;
}

/* Skapade knappen till navigationen */

nav a button{
    font-size: 16px;
    color: #edf0f1;
    padding: 9px 25px;
    background-color: #2980b9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

nav a button:hover{
    background-color: goldenrod;
}

/* Fixar logga headern */

.logo{
    padding-left: 1rem;
    align-items: center;
    padding-top: 20px;
}

/* Redigerade och justerade logga bilden */

.logo img{
    border-radius: 200px;
    width: 70px;
    transform: translate(0%,-20%);
}

/* Container till index sidan. Använde css grid med calc height men det visade sig senare att det inte behövdes
Valde även att lägga till ett bakgrundsbild plus en gradient som täcker över den bilden och detta
ger en kol effekt som ger lite liv till sidan. Valde även att gradiantenten skulle gå från main color som jag 
konverterade från HEX till rgb */

.container{
    background: linear-gradient(rgba(41,128,185,0.9), rgba(4, 18, 93, 0.9)), url(/img/circuit.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-areas: 
    'slide-1 as'
    ;
}


/* Bannern, alltså bilder som animeras inom index sidan. Tog endast border radius på 
toppen och botten av högra sidan vilket gav det den kola stilen som visas */

 .banner-1{
    grid-area: slide-1;
    display: block;
    background-image: url(/Img/slide-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative; 
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow:  15px 32px 64px rgba(0, 0, 0, 0.8);
}

.banner-2{
    grid-area: slide-1;
    display: block;
    background-image: url(/Img/slide-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative; 
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow:  15px 32px 64px rgba(0, 0, 0, 0.8);
}

.banner-3{
    grid-area: slide-1;
    display: block;
    background-image: url(/Img/slide-3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow:  15px 32px 64px rgba(0, 0, 0, 0.8);
}

.banner-4{
    grid-area: slide-1;
    display: block;
    background-image: url(/Img/slide-4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative; 
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow:  15px 32px 64px rgba(0, 0, 0, 0.8);
}

/* Banner animation */

.banner-1{
    animation: slide1 12s linear infinite;
}

.banner-2{
    animation: slide2 12s linear infinite;
}

.banner-3{
    animation: slide3 12s linear infinite;
}

.banner-4{
    animation: slide4 12s linear infinite;
}

/* Bestämmer vad som ska vara synlgt eller inte under animationen*/

@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}


/* Aside information till Index html */

aside{
    grid-area: as;
    text-align: center center;
    align-items: center center;
    margin-top: 25%;
    margin-bottom: 20%;
    text-shadow:  6px 6px 9px  rgb(0, 0, 0);
}

aside p{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
}

aside h1{
    text-align: center;
    font-size:70px;
    color: #fff;
}

/* Skapade även en knapp till aside */

aside button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px;
    border: 0;
    outline: none;
    background: linear-gradient(to right, rgb(243, 204, 104), rgb(233, 170, 10));
    border-radius: 20px;
    margin-top: 10%;
    transition: width 0.5s;
    font-size: 15px;
    margin-left: 33.2%;
    box-shadow: 6px 6px 9px  rgb(0, 0, 0);
}

/* Gjorde i princip ett animation med hover. Ändrar bara breden av knappen när¨
muspekaren är på den  */

aside button:hover{
    cursor: pointer;
    background-color: goldenrod;
    color: rgb(0, 0, 0);
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}

aside button img{
    width: 40px;
    display: none;
}

aside button:hover img{
    display: block;
}

/* Span kan man använda för att belysa eller understrycka vissa texter och delar
vilket gör sidan snyggare och mer tydligt */

.aside span{
    background-color: goldenrod;
    height: 5px;
    width: 250px;
    position: absolute;
    margin-left: 14%;
    border-radius: 10px;
} 

/*HÄR BÖRJAR NYHETS HTML*/

/* Använde css grid med min-height 100vh som egentligen tillåter sidan att 
strecka om det behövs men det funkar inte alltid och man måste justera med hjälp av 
grid-template-rows eller columns */

.container2{
    background: linear-gradient(rgba(41,128,185,0.9), rgba(4, 18, 93, 0.9)), url(/img/circuit.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 35vh ;
    grid-template-areas: 
    'section1'
    'section2'
    'section3'
    ;
}

/* Väljer storlek till alla section klasser */

section{
    width: 100%;
    min-height: 100vh;
}

/* Section1 var indelade i två stycken rows */

.section1{
    grid-area: section1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    grid-template-areas: 
    'row1'
    'row2'
    ;
}

/* Row 1 var ytterligare delade i två kolumns*/

.row1{
    display: grid;
    grid-template-columns: 59% 41%;
    grid-auto-rows: 100%;
    grid-template-areas: 
    'card1 column2'
    ;
}

/* Väljer storlek och färg till alla card klasser */

.card{
    /* background-color: rgba(240, 234, 234, 0.42); */
    width: 450px;
    height:fit-content;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    color: #fff;
}

/* Alla card klasser haden en tunn span under sig */

.card span{
    background-color: rgba(240, 234, 234, 0.42);
    height: 0.1px;
    width: 450px;
    position: absolute;
    transform: translate(10%,0%);
    border-radius: 10px;
    transform: translate(0, 110px);
}

/* Valde storlek till alla card klasser, men även transform translate 
som tillåter en att flytta runt bilden */

.card_img{
    display: block;
    width: 150px;
    border-radius: 4px;
    transform: translate(70%);
    box-shadow: -15px 6px 19px  #111c22;
}

/* Information om kortets artikel */

.card_hero{
    flex: 0 0 50%;
    position: relative;
}

.card_content{
    flex: 1;
    padding: 10px 35px 20px 10px;
}

/* Headline till olika delar. Det finns healine och headline2 som är olika. Headline2 är för row2 */

.headline{
    height: 50px;
    transform: translate(0%, 50%);
    color: #fff;
    margin: 20px;
}

.headline span{
    background-color: goldenrod;
    height: 2px;
    width: 400px;
    position: absolute;
    transform: translate(10%,0%);
    border-radius: 10px;
}

/* Är egentligen inte en knapp utan bara en rektangel som jag använde för att placera headline texten i */

.headline button{
    background-color: goldenrod;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 1px;
    transition: width 0.5s;
    font-size: 15px;
}

.headline2{
    transform: translate(-0.5%,-260%);
}

#headline2_span{
    width: 1115px;
    transform: translate(2%,0%);
}

/* Card1 är den stora bilden, den är unik i jämförelse med card */


.card1 img{
    display: block;
    width: 520px;
    border-radius: 5px;
    transform: translate(20%,0%);
    box-shadow: -15px 6px 19px  #111c22;
}

/* En mörk och svart lager som gör bilden snyggare. */

.card1_layer{
    display: flex;
    flex-direction: row;
    width: 520.2px;
    height: 50%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(19, 18, 18, 0.8), rgba(0, 0, 0));
    transform: translate(20%, -100%);
    color: #fff;
    border-radius: 5px;
}

.card_layer h4{
    transform: translate(5%, 80%);
    cursor: pointer;
}

.card_layer h4:hover{
    color: goldenrod;
}

.card1 button{
    background-color: goldenrod;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 1px;
    transition: width 0.5s;
    font-size: 15px;
}

.card1 span{
    background-color: goldenrod;
    height: 2px;
    width: 600px;
    position: absolute;
    transform: translate(10%,0%);
    border-radius: 10px;
}

/* Här börjar andra raden inom section1 */

.row2{
    grid-area:row2;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}

/* korten för row2 */


.row2_card{
    display: flex;
    flex-direction: column;
    height: 280px;
    align-items: flex-start;
    border-radius: 1px;
    color: #fff;
    width: 250px;
}

.row2_card h3{
    margin-bottom: 10px;
    box-sizing: border-box;
}

.row2_card img{
    width: 250px;
    height: 160px;
    border-radius: 0px;
    margin-bottom: 20px;
    box-shadow: -15px 6px 19px  #111c22;
}

.headline2{
    padding-bottom: 75px;
}

/* Fixade placeringen för båda arrow ikoner som visas på row2 */

.arrow_back{
    transform: translate(-200%,-600%);
}

.arrow_forward{
    transform: translate(1100%,-600%);
}

/* Section2 börjar här */
/* Section2 har egentligen samma korter som column i row1 inom section1
därför finns det inte mycket */


.section2{
    grid-area: section2;
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#section2_span{
    width: 600px;
}

.headline3{
    transform: translate(-0.5%,0%);
}

#headline3_span{
    width: 1115px;
    transform: translate(2%,0%);
}

/* Wrapper som jag använde bara för att flytta ner section2 korter lite gran */

.wrapper{
    padding-top: 20px;
}

/* ändrade endast storleken på bilderna men även storleken på själva korten 
för section2 men annars är det exakt samma som section1 */

.section2_img{
    display: block;
    width: 200px;
    border-radius: 4px;
    transform: translate(0%, -30%);
    box-shadow: -15px 6px 19px  #111c22;
}

.section2_content{
    flex: 1;
    padding: 10px 10px 20px 10px;
}

.section2_card{
    width: 800px;
    height: 150px;
    display: flex;
    flex-direction: row;
    color: #fff;
}

/* fixade placering för arrow neråt, alltså en expand arrow som var till section2 */

.expand{
    color: white;
    transform: translate(1300%,-250%);
}

/* section3 eller footer börjar här */

.section3{
    background-color: white;
}

/* footer är en barn till section3 och därför kan man endast
redigera padding via footer */

footer{
    width: 100%;
    padding: 10px 30px 20px;
}

/* Display layouten för sociala medie ikoner i footern men en fin animation
som byter färger  */

.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: var(--primary-background-color);
    margin: 10px;
    border-radius: 100%;
}

/* redigerade storleken för socialamedie ikonerna  */


.socialicons a i{
    font-size: 2em;
    color: #fff;
    opacity: 0.9;
}

.socialicons a:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

.socialicons a:hover i{
    color: goldenrod;
    transition: 0.2s;
}

/* Alla länker som visas inom footern */

.footernav{
    margin: 30px 0;
}

.footernav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footernav ul li a{
    color: var(--primary-background-color);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.9;
    transition: 0.5s;
}

.footernav ul li a:hover{
    opacity: 1;
    color: goldenrod;
}

/* Copywrite för footern  */

.copywrite{
    padding: 0px 470px 0px;
    color: var(--primary-background-color);
}


/* Här börjar review sidan */


.container3{
    background: linear-gradient(rgba(41,128,185,0.9), rgba(4, 18, 93, 0.9)), url(/img/circuit.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh auto auto 40vh;
    grid-template-areas: 
    'section4'
    'section5'
    'section6'
    'section3'
    ;
}

/* gjorde en liknande layout till row2 i newshtml sidan men med ett annat 
kort. Detta är för alla senaste reviewsen*/

.section4{
    grid-area: section4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Titeln för alla senaste reviews */

.section4 h1{
    font-size:  50px; 
    color: #fff;
    padding-bottom: 60px;
}

.section4 img{
    width: 250px;
}

.review_cards{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.review_card{
    display: flex;
    background-color: #cccccc;
    flex-direction: column;
    height: 200px;
    max-width: 1000px;
    margin-right: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
    font-size: 20px;
}

/* Samma piler som row2 i news.html */

.review_back{
    transform: translate(-80%,50%);
    color: #fff;
}

/* Samma piler som row2 i news.html*/


.review_forward{
    transform: translate(-70%,50%);
    color: #fff;
}

/* Här börjar section5 */

.section5{
    height: 200vh;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
    'aside2_title aside2_title' 
    'as mn'
    ;
}

/* Rubriken till recommended products*/

.aside2_title{
    display: flex;
    align-items: center;
    grid-area: aside2_title;
    color: #fff;
    font-size: 50px;
}

/* använde klass aside2 eftersom aside var redan använd i index.html 
Detta visar alla kategorier för alla typer av produkter*/

.aside2{
    grid-area:  as;
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

/* Sorterade och fixade länkarna till aside länkarna */

.aside2 ul li{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    list-style: none;
    padding-left: 20px;
}

.aside2 li:hover{
    font-size: 35px;
    transition: 0.5s;
    color: goldenrod;
}

.aside2 span{
    background-color: rgba(240, 234, 234, 0.42);
    height: 1px;
    width: 250px;
    position: absolute;
    margin-left: 14%;
    border-radius: 10px;
    transform: translate(-65%,80%);
}

/* Här är main till alla korten för rekomenderade och icke rekomenderade 
produkter */


.main_cards{
    grid-area: mn;
    height: 250px;
    max-width: 1000px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* main_card är alla individa korter */

.main_card{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
}

.main_cards img{
    width: 100%;
    display: block;
    border-radius: 1px;
}

/* Detta är tumme och och länken inom korten */

.card__content{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 20px;
    background: #fafafa;
    border-radius: 1px;
}

/* Tar bort onödigt margin */

.card__content> p:first-of-type{
    margin-top: 0;
}

.card__content> p:first-of-type{
    margin-bottom: 0;
}

/* Allt text som är om reviewn */

.card__info{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    font-size: 0.8em;
    border-bottom: 2px solid #cccccc;
    border-radius: 1px;
}

.card__info p{
    font-size: 12px;
}

/* Sätter en cursor pointer på alla importerade ikoner */

.material-icons{
    cursor: pointer;
}

/* Här börjar section6 som är samma sak som section 5 */

.section6{
    height: 200vh;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
    'aside2_title aside2_title' 
    'as mn'
    ;
}

.main_cards2{
    grid-area: mn;
    height: 250px;
    max-width: 1000px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.main_card2{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
}

.main_cards2 img{
    width: 100%;
    display: block;
    border-radius: 1px;
}

.aside2_title{
    display: flex;
    align-items: center;
    grid-area: aside2_title;
    color: #fff;
    font-size: 50px;
}

.aside2{
    grid-area:  as;
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.aside2 li:hover{
    font-size: 35px;
    transition: 0.5s;
    color: goldenrod;
}

.aside2 span{
    background-color: rgba(240, 234, 234, 0.42);
    height: 1px;
    width: 250px;
    position: absolute;
    margin-left: 14%;
    border-radius: 10px;
    transform: translate(-65%,80%);
}

.aside2 ul li{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    list-style: none;
    padding-left: 20px;
}